<html>
    <head>
        <!-- General Settings -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="" />

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
    </head>
    <body>
    	<div class="page">		
    	</div>

    	<!-- Basic libraries -->
    	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    	<script src="lib/showdown.js"></script>

    	<!-- Included files -->
    	<script src="router.js"></script>
    	<script src="views.js"></script>
    	<script src="model.js"></script> 

    	<!-- *************************************************************************************************************************************************** -->

    																			<!-- Templates -->

    	<!-- *********************************************************** Template for the event details page *************************************************** -->
    	<script type="text/template" id="details">
    		<%
    			var converter = new Showdown.converter();
    			var event_details = converter.makeHtml(model.get('details'));
    		%>
    		<div class="full" style="background: url(<%= model.get('background-image') %>) no-repeat center center;"></div>
    		<div class="row go-back">
	    		<div class="col-md-1">
		    		<div class="circle leftBack">
		    			<h2><i class="menuIcon fa fa-chevron-left"></i></h2>
		    		</div>
		    	</div>
		    </div>
    		<div class="container">
    			<div class="row details">
					<div class="col-md-12">
						<p><%= 
							event_details
						%></p>
					</div>
    			</div>
    		</div>
    		<div class="row action-btn">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-offset-2 col-xs-6 col-sm-offset-4 text-center"> 
					<button type="button" class="btn btn-default" id="participate">Participate</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-2 text-center"> 
					<button type="button" class="btn btn-default" id="learn-more">Learn more</button>
				</div>
			</div>
    	</script>

    	<!-- *********************************************************** Template for the google form page *************************************************** -->
    	<script type="text/template" id="participate-form">
    		<div class="form-container">
    			<iframe src="<%= model.get('subscibe-form') %>/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    		</div>

    		<div class="row go-back">
	    		<div class="col-md-1">
		    		<div class="circle leftBack">
		    			<h2><i class="menuIcon fa fa-chevron-left"></i></h2>
		    		</div>
		    	</div>
		    </div>
  
    	</script>

    	<!-- *********************************************************** Template for the edit page *************************************************** -->
    	<script type="text/template" id="edit">
    		<div class="full" style="background: url(<%= model.get('background-image') %>) no-repeat center center;"></div>
    		<div class="container">
    			<div class="row">
					<form class="form-horizontal" id="website-data">
					  <div class="form-group password">
					    <label for="password" class="col-sm-2 control-label white">Your password</label>
					    <div class="col-sm-6">
					      <input type="password" class="form-control" id="password" placeholder="enter the password">
					    </div>
					    <div class="col-sm-1">
				    		<div class = "verification" id="password-verify"></div>
				    	</div>
					  </div>
					  <div class="form-group edit-form">
					    <label for="title" class="col-sm-2 control-label white">Title</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="title" placeholder="title" value="<%= model.get('title') %>">
					    </div>
					  </div>
					  <div class="form-group edit-form">
					    <label for="baseline" class="col-sm-2 control-label white">Baseline</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="baseline" placeholder="baseline" value="<%= model.get('description') %>">
					    </div>
					  </div>
					  <div class="form-group edit-form">
					  	<div class="col-sm-10 col-sm-offset-2">
					  		<a class = "white" href="http://support.mashery.com/docs/read/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank"><i>Pssst! You can use markdown. Click me for the cheatsheet.</i></a>
					  	</div>
					    <label for="details edit-form" class="col-sm-2 control-label white">Details</label>
					    <div class="col-sm-6">
					      <textarea class="form-control" id="details" rows="10" placeholder="details"><%= model.get('details') %></textarea>
					    </div>
					  </div>
					  <div class="form-group edit-form">
					    <label for="google-form" class="col-sm-2 control-label white">Google Form link</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="google-form" placeholder="google form link" value="<%= model.get('subscibe-form') %>">
					    </div>
					  </div>
					  <div class="form-group edit-form">
					    <label for="video" class="col-sm-2 control-label white">Youtube Video Key</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="video" placeholder="just the youtube key" value="<%= model.get('video-key') %>">
					    </div>
					  </div>


    				 <div class="form-group edit-form" >
				    	<label for="background-photo" class="col-sm-2 control-label white">Background Photo</label>
			    		<div class="col-sm-5">
					      <input type="text" class="form-control image-upload" id="background-image" placeholder="the background image's url" value="<%= model.get('background-image') %>">
					    </div>
					    <div class="col-sm-1">
				    		<img class="thumb" id="background-image-thumb" src="<%= model.get('background-image') %>" />
				    	</div>
    				  </div>

    				  <div class="form-group edit-form">
				    	<label for="organisation-logo" class="col-sm-2 control-label white">Your organisation's logo</label>
				    	<div class="col-sm-5">
					      <input type="text" class="form-control image-upload" id="organisation-logo" placeholder="your organisation's logo" value="<%= model.get('organisation-logo') %>">
					    </div>
				    	<div class="col-sm-1">
				    		<img class="thumb" id="organisation-logo-thumb" src="<%= model.get('organisation-logo') %>" />
				    	</div>
    				  </div>

    				  <div class="form-group edit-form">
				    	<label for="event-logo" class="col-sm-2 control-label white">Your event's logo</label>
				    	<div class="col-sm-5">
					      <input type="text" class="form-control image-upload" id="event-logo" placeholder="your event's logo" value="<%= model.get('event-logo') %>">
					    </div>
				    	<div class="col-sm-1">
				    		<img class="thumb" id="event-logo-thumb" src="<%= model.get('event-logo') %>" />
				    	</div>
    				  </div>

    				  <div class="form-group edit-form">
				    	<label for="main-color" class="col-sm-2 control-label white">Site main color</label>
				    	<div class="col-sm-5">
					      <input type="text" class="form-control main-color" id="main-color" placeholder="your site's main color" value="<%= model.get('main-color') %>">
					    </div>
				    	<div class="col-sm-1">
				    		<div class = "thumb" id="main-color-thumb" style="background-color: <%= model.get('main-color') %>; height: 34px"></div>
				    	</div>
    				  </div>


					  <div class="form-group edit-form">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default">Let's do this!</button>
					    </div>
					  </div>
					</form>
				</div>
    		</div>
    	</script>

    	<!-- *********************************************************** Template for the home page *************************************************** -->
    	<script type="text/template" id="home">
	    	<div class="full" style="background: url(<%= model.get('background-image') %>) no-repeat center center;"></div>
			<div class="container">
				<div class="row organisation-logo">
					<div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-5 col-xs-offset-4 col-sm-offset-3">
						<img src="<%= model.get('organisation-logo') %>" />
					</div>
				</div>
				<div class="row event-logo">
					<div class="col-md-12">
						<img src="<%= model.get('event-logo') %>"/>
					</div>
				</div>
				<div class="row play-video">
					<div class="col-md-10 col-sm-12 text-center col-md-offset-1">
						<a class="play-video" href="#"><h1 class="outer"><i class="fa fa-play-circle"></i></a>
						<div class="divider-left"></div>
						<div class="divider-right"></div>
						</h1>
					</div>
				</div>
				<div class="row  description">
					<div class="col-md-8 col-sm-12 text-center col-md-offset-2">
						<p><%= model.get('description') %></p>
					</div>
				</div>
				<div class="row"></div>
			</div>
			<div class="row action-btn">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-offset-2 col-xs-6 col-sm-offset-4 text-center"> 
					<button type="button" class="btn btn-default" id="participate">Participate</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-2 text-center"> 
					<button type="button" class="btn btn-default" id="learn-more">Learn more</button>
				</div>
			</div>
    	</script>

		<!-- *********************************************************** Template for the promotional video page *************************************************** -->
    	<script type="text/template" id="video">
    		<div class="video-container">  
	    		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/<%= model.get('video-key') %>?wmode=transparent&showinfo=0&controls=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>
	    	</div>

	    	<div class="row go-back">
	    		<div class="col-md-1">
		    		<div class="circle leftBack">
		    			<h2><i class="menuIcon fa fa-chevron-left"></i></h2>
		    		</div>
		    	</div>
		    </div>

		    <div class="row action-btn">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-offset-2 col-xs-6 col-sm-offset-4 text-center"> 
					<button type="button" class="btn btn-default" id="participate">Participate</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-2 text-center"> 
					<button type="button" class="btn btn-default" id="learn-more">Learn more</button>
				</div>
			</div>
    	</script>	

    	<!-- *********************************************************** Program entry point *************************************************** -->
    	<script type="text/javascript">
    		 var router = new Router();
    		 var model = new Model();

    		 model.fetch({
    		 	success: function() {
    		 		
    		 		$(document).ready(function() {

    		 			// Set the page title 
				        document.title = model.get("title");

				        // Set the page's main color
				        $('body').css('color',  model.get("main-color"));    
				    });

    		 		Backbone.history.start();
    		 	}
    		 })
    	</script>
    </body>
</html>   