<html>
    <head>
        <!-- General Settings -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>My Title</title>
        <meta name="description" content="" />

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>
    	<!-- Basic libraries -->
    	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

    	<!-- My files -->
    	<script src="router.js"></script>
    	<script src="views.js"></script>
    	<script src="model.js"></script>

    	<!-- Templates -->
    	<script type="text/template" id="home">

    	<div id="video-container">  
    		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/<%= model.get('video-key') %>?wmode=transparent&showinfo=0&controls=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>
    	</div>
    	<div class="full" style="background: url(<%= model.get('background-image') %>) no-repeat center center;"></div>
    	<div class="row" id="remove-video">
			<div class="col-md-1 col-md-offset-11 text-right">
				<a href="#"><h2><i class="fa fa-times"></i></h2></a>
			</div>
		</div>
		<div class="container">
			<div class="row" id="organisation-logo">
				<div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-5 col-xs-offset-4 col-sm-offset-3">
					<img src="<%= model.get('organisation-logo') %>" />
				</div>
			</div>
			<div class="row" id="event-logo">
				<div class="col-md-12">
					<img src="<%= model.get('event-logo') %>"/>
				</div>
			</div>
			<div class="row" id="play-video">
				<div class="col-md-10 col-sm-12 text-center col-md-offset-1">
					<a class="play-video" href="#"><h1 class="outer"><i class="fa fa-play-circle"></i></a>
					<div class="divider-left"></div>
					<div class="divider-right"></div>
					</h1>
				</div>
			</div>
			<div class="row" id="description">
				<div class="col-md-8 col-sm-12 text-center col-md-offset-2">
					<p><%= model.get('description') %></p>
				</div>
			</div>
			</div>
			<div class="row" id="participate">
				<div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-5 col-xs-offset-4 col-sm-offset-3 text-center">
					<button type="button" class="btn btn-default">Participate</button>
				</div>
			</div>
		</div>

    	</script>

    	<!-- Program execution entry point -->
    	<script type="text/javascript">
    		 var router = new Router();
    		 var model = new Model();

    		 model.fetch({
    		 	success: function() {
    		 		Backbone.history.start();
    		 	}
    		 })
    	</script>
    </body>
</html>   