body {
	background-color: #242424;
	color: #ed1c24;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
}

img {
	width: 100%;
}

p {
	color: white;
}

h1 {
	font-size: 8em;
}

a {
	color: #ed1c24;
	opacity: 1;
}

a:hover {
	color:  #ed1c24;
	opacity: 0.8;
}

a:active {
	color:  #ed1c24;
}

.video-container {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.row {
	margin-top: 2em;
	margin-bottom: 2em;
}

.details {
	display: none;
	opacity: 0;
}

.action-btn {
	position: fixed;
	bottom: 10px; 
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}

.remove-video {
	cursor: pointer;
}

.remove-video:hover {
	opacity: 0.8;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 0.2;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.btn {
	background-color:  #0F98D6;
	color: white;
}

.btn:hover {
	background-color:  #0F98D6;
	color: white;
	opacity: 0.5;
}

.divider-left {
	margin-top:-0.5em;
 	border-bottom: 5px solid #ed1c24;  
 	margin-bottom: 0.5em;
 	width: 43%;
 	opacity: 0.5;
}

.divider-right {
	margin-top:-0.55em;
 	border-bottom: 5px solid #ed1c24;  
 	margin-bottom: 0.5em;
 	width: 43%;
 	margin-left: 57%;
 	opacity: 0.5;
}

.remove-video {
	opacity: 0;
	display: none;
	position: fixed;
	z-index: 2;
}

.circle {
	border-radius: 50%;
	border: 1px solid rgb(246,246,246);
	width: 4em;
	height: 4em;
	text-align: center;
	border-color: rgb(246,246,246); 
}

.leftBack {
	float: left;
	margin-left: 0.4em;
}

.leftBack h2 {
	margin-top: 0.4em;
}

/****************** ANIMATIONS ******************/

/* For Chrome */
@-webkit-keyframes slide-out-left {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-1000px, 0, 0);
	}
} 

@keyframes slide-out-left {
  0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-1000px, 0, 0);
	}
}

.animation-slide-out-left {
	animation: slide-out-left 1s forwards;
	-webkit-animation: slide-out-left 1s forwards;
}

/* For Chrome */
@-webkit-keyframes slide-in-left {
	0% {
		transform: translate3d(-1000px, 0, 0);
	}

	100% {
		transform: translate3d(0px, 0, 0);
	}
} 

@keyframes slide-in-left {
  0% {
		transform: translate3d(-1000px, 0, 0);
	}

	100% {
		transform: translate3d(0px, 0, 0);
	}
}

.animation-slide-in-left {
	animation: slide-in-left 1s both;
	-webkit-animation: slide-in-left 1s both;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

}

/* For Chrome */
@-webkit-keyframes slide-out-right {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2000px, 0, 0);
	}
} 

@keyframes slide-out-right {
  0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2000px, 0, 0);
	}
}

.animation-slide-out-right {
	animation: slide-out-right 1s forwards;
	-webkit-animation: slide-out-right 1s forwards;
}

/* For Chrome */
@-webkit-keyframes slide-in-right {
	0% {
		transform: translate3d(2000px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
} 

@keyframes slide-in-right {
  0% {
		transform: translate3d(2000px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.animation-slide-in-right {
	animation: slide-in-right 1s both;
	-webkit-animation: slide-in-right 1s both;
	-webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}

/* For Chrome */
@-webkit-keyframes slide-out-bottom {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
} 

@keyframes slide-out-bottom {
  0% {
  		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

.animation-slide-out-bottom {
	animation: slide-out-bottom 0.5s forwards;
	-webkit-animation: slide-out-bottom 0.5s forwards;
}

/* For Chrome */
@-webkit-keyframes slide-in-bottom {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
} 

@keyframes slide-in-bottom {
  0% {
  		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.animation-slide-in-bottom {
	animation: slide-in-bottom 0.5s both;
	-webkit-animation: slide-in-bottom 0.5s both;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

/* For Chrome */
@-webkit-keyframes slide-down {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0.8;
	}
} 

@keyframes slide-down {
  0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0.8;
	}
}

.animation-slide-down {
	animation: slide-down 1s forwards;
	-webkit-animation: slide-down 1s forwards;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

/* For Chrome */
@-webkit-keyframes slide-up {
	0% {
		transform: translate3d(0, 100%, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
	}
} 

@keyframes slide-up {
  0% {
		transform: translate3d(0, 100%, 0);
		opacity: 0.8;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.animation-slide-up {
	animation: slide-up 1s both;
	-webkit-animation: slide-up 1s both;
}

/* For Chrome */
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
} 

@keyframes fade-in {
  0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.animation-fade-in {
	animation: fade-in 1s forwards;
	-webkit-animation: fade-in 1s forwards;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

/* For Chrome */
@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
} 

@keyframes fade-out {
  0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.animation-fade-out {
	animation: fade-out 0.5s forwards;
	-webkit-animation: fade-out 0.5s forwards;
}

/* For Chrome */
@-webkit-keyframes slide-down-fade {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 0.15;
	}

	100% {
		transform: translate3d(0, 10%, 0);
		opacity: 0;
	}
} 

@keyframes slide-down-fade {
  0% {
		transform: translate3d(0, 0, 0);
		opacity: 0.15;
	}

	100% {
		transform: translate3d(0, 10%, 0);
		opacity: 0;
	}
}

.animation-slide-down-fade {
	animation: slide-down-fade 0.5s forwards;
	-webkit-animation: slide-down-fade 0.5s forwards;
}

/* For Chrome */
@-webkit-keyframes slide-up-fade {
	0% {
		transform: translate3d(0, 10%, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0.15;
	}
} 

@keyframes slide-up-fade {
  0% {
		transform: translate3d(0, 10%, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0.15;
	}
}

.animation-slide-up-fade {
	animation: slide-up-fade 0.5s both;
	-webkit-animation: slide-up-fade 0.5s both;
}

